html,body
	width: 100%
	height: 100%
	margin: 0
	padding: 0
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: Arial, sans-serif
	overflow-x: hidden
	min-height: 100%
	background-color: #fff
	input, textarea
		border: #666 1px solid
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

h1,h2,h3,h4,h5,h6
	margin: 0
	padding: 0
ul,li,p
	margin: 0
	padding: 0
li
	list-style-type: none
a
	text-decoration: none

b, strong
	font-weight: bold


.wrapper
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	height: 100%
	flex-direction: column
.content
	flex: 1 0 auto

@import 'normalize'
@import 'sections/mainArticles'
@import 'sections/mainHeader'
@import 'sections/posts'
@import 'sections/subscribe'
@import 'sections/primarySidebar'
@import 'sections/freshRecords'
@import 'sections/categories'
@import 'sections/tagsWidget'
@import 'sections/single'
@import 'sections/requestPasswordReset'
@import 'sections/resetPassword'
@import 'sections/login'
@import 'sections/register'
@import 'sections/mainContent'
@import 'general'
@import 'sections/comments'
@import 'sections/mainFooter'
@import 'sections/error'

@import 'sections/admin/general'

@import 'sections/admin/comments/comments'

@import 'sections/admin/article/articleIndex'
@import 'sections/admin/article/articleCreate'
@import 'sections/admin/article/articleForm'
@import 'sections/admin/article/articleView'
@import 'sections/admin/article/articleUpdate'

@import 'sections/admin/user/userCreate'
@import 'sections/admin/user/userForm'
@import 'sections/admin/user/userIndex'
@import 'sections/admin/user/userUpdate'
@import 'sections/admin/user/userView'

@import 'sections/admin/tag/tagIndex'
@import 'sections/admin/tag/tagCreate'
@import 'sections/admin/tag/tagUpdate'
@import 'sections/admin/tag/tagForm'
@import 'sections/admin/tag/tagView'

@import 'sections/admin/category/categoryIndex'
@import 'sections/admin/category/categoryCreate'
@import 'sections/admin/category/categoryUpdate'
@import 'sections/admin/category/categoryForm'
@import 'sections/admin/category/categoryView'

